# Byte-code files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Editor/IDE-specific files
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Test coverage
.coverage
.ruff_cache/

# Environment variables
.env
secrets.toml
